body {
    background-color: lightblue;
    text-align: center;
}

.form {
    background-color: white;
    border: 1px solid black ;
    text-align: center;
    color: black;
}

footer{
    background: #00000080;
    bottom: 0px;
    color: #fff;
    display: block;
    text-align: center;
}

#footer{
    position: fixed;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

table {
    background-color: white;
    border: 1px solid black ;
    text-align: center;
    color: black;
    width: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

.btn-group button {
    background-color: lightblue;
    border: 1px solid lightblue;
    color: black;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: white;
    color: black;
  }

  .selected-class {
      cursor: pointer;

  }

  nav {
      width: 960px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
  }

  header {
    height: 10px;
    padding: 10px 0;
    text-align: left;
}