body {
    text-align: center;
}

.form {
    background-color: white;
    border: 1px solid black ;
    text-align: center;
    color: black;
}

footer{
    background: #00000080;
    bottom: 0px;
    color: #fff;
    display: block;
    text-align: center;
}

#footer{
    position: fixed;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

table {
    background-color: white;
    border: 1px solid black ;
    text-align: center;
    color: black;
    width: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    justify-content: center;
}

.btn-group button {
    background-color: lightblue;
    border: 1px solid lightblue;
    color: black;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: white;
    color: black;
  }

  .selected-class {
      cursor: pointer;

  }

  nav {
      width: 960px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
  }

  header {
    height: 10px;
    padding: 10px 0;
    text-align: left;
}

/* Dropdown Button */
.dropbtn {
    background-color: lightblue;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    max-width: 85px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: white;}



.container
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: red;
    background: linear-gradient(to bottom, rgb(6, 108, 224),  rgb(14, 48, 122));
    width: 800px;
    height: 400px;
    margin: 10% auto;;
    border-radius: 5px;
}

.content-holder
{
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 15%;
    padding: 50px;
}

.content-holder h2
{
    font-size: 34px;
    margin: 20px auto;
}

.content-holder p
{
    margin: 30px auto;
}

.content-holder button
{
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
}


.box-2{
    background-color: white;

    margin: 5px;
}

.login-form-container
{
    text-align: center;
    margin-top: 10%;

}

.login-form-container h1
{
    color: black;
    font-size: 24px;
    padding: 20px;
}

.input-field
{
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    width: 250px;
    outline: none;
}

.login-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: rgb(56, 102, 189);
}



.button-2
{
    display: none;
}





.signup-form-container
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
    display: none;
}


.signup-form-container h1
{
    color: black;
    font-size: 24px;
    padding: 20px;
}

.signup-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: rgb(56, 189, 149);  
}