footer{
    background: #00000080;
    bottom: 0;
    color: #fff;
    display: block;
    text-align: center;
}

#footer{
    position: fixed;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.selected-class {
    cursor: pointer;
}
